<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="view-screen">
        <div class="eight-puzzle-container">
            <div class="eight-puzzle"></div>
            <button id="shuffleButton">Shuffle Puzzle</button>
        </div>
        <button id="shuffleButton"> shuffleButton</button>
        <button onclick="solvePuzzle()">Solve</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </div>
</body>

</html>